.sidenav .user-view {
  height: 205px;
  &>a {
    height: 30px;
    &:first-of-type {
      height: auto;
    }
  }
}

.sidenav .user-view {
  .name, .email, .github, .linkedin {
    display: block;
    margin: 0;
    line-height: 30px;
    font-weight: 500;
    font-size: 14px;
  }
}
